# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug information files
*.dwo

#binary folder
bin/

# VS Code user settings
.vscode/

# IntelliSense
*.VC.db
*.VC.db-shm
*.VC.db-wal

# System files
.DS_Store
Thumbs.db


# Dependency directories
build/
node_modules/

# Logs error files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables files
.env